*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.Box{
    position: relative;
    width: 380px;
    height: 420px;
    background: lawngreen;
    border-radius: 8px;
}

.Box form{
    position: absolute;
    inset: 4px;
    background: black;
    padding: 50px 40px;
    border-radius: 8px;
    Z-index: 2;
    display: flex;
    flex-direction: column;
}

.Box form h1{

    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
    border-bottom: 2px solid lawngreen;
}

.Box form .inputBox{

    position: relative;
    width: 300px;
    margin-top: 35px;
}

.Box form .inputBox  input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: 1px solid lawngreen;
    box-shadow: none;
    color: lawngreen;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.2s;
    z-index: 10;
    border-radius: 10px;
}

.Box form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
}

.Box form .inputBox input:valid ~ span,
.Box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);

}
.SubmitBox{
    margin-top: 50px;
    text-align: center;
}
.links{
    margin-top: 20px;

}
.links a{
    color: lawngreen;
}
.SubmitBox input{
    height: 35px;
    width: 100px;
    border:2px solid lawngreen;
    background: lawngreen;
    color: black;
    border-radius: 12px;
}
